<a href="https://colab.research.google.com/github/Praxis-QR/DeepLearning/blob/main/AI_DL_Chapter_4_Medical_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://1.bp.blogspot.com/-WAjYIaQofo0/YEB0cQsSGSI/AAAAAAAAkoE/TpQcWBRGtu0N010lmiTS9cFHuGwXB45PQCLcBGAsYHQ/s16000/colabHeader00.png)<br>

<hr>

[Prithwis Mukerjee](http://www.yantrajaal.com) / [Praxis Business School](http://praxis.ac.in/) / [Book Website](http://aidl4managers.blogspot.com)

In [3]:
from time import time
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense

#Diabetes Prediction <br>
Data https://drive.google.com/file/d/1YegMEZNA0sIDtzVXlvd2-9zRYOGd06Fj/view?usp=sharing <br>
Description https://drive.google.com/file/d/1EimjF6NAjtrv3LrUhcKIS0ZrX9Q93ipq/view?usp=sharing

Data Description <br>
Measured Variables
   1. Number of times pregnant
   2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
   3. Diastolic blood pressure (mm Hg)
   4. Triceps skin fold thickness (mm)
   5. 2-Hour serum insulin (mu U/ml)
   6. Body mass index (weight in kg/(height in m)^2)
   7. Diabetes pedigree function
   8. Age (years)<br>
   <hr>
   9. Label or Class variable (0 or 1) - did the person get diabetes or not

In [4]:
#download the data from Google Drive as a CSV file
#!gdown https://drive.google.com/uc?id=1YegMEZNA0sIDtzVXlvd2-9zRYOGd06Fj
#download the data from Github
!wget https://raw.githubusercontent.com/Praxis-QR/DeepLearning/main/data/pima-indians-diabetes.csv

--2023-01-12 00:17:04--  https://raw.githubusercontent.com/Praxis-QR/DeepLearning/main/data/pima-indians-diabetes.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23278 (23K) [text/plain]
Saving to: ‘pima-indians-diabetes.csv.1’

pima-indians-diabet 100%[===================>]  22.73K  --.-KB/s    in 0s

2023-01-12 00:17:04 (79.4 MB/s) - ‘pima-indians-diabetes.csv.1’ saved [23278/23278]

In [5]:
# Read the data into a datastructure called  Numpy Array
dataArray = np.genfromtxt("pima-indians-diabetes.csv", delimiter=",")

In [6]:
 #Check number of Rows, Columns and Type of Data 
 dataArray.shape, dataArray.dtype

((768, 9), dtype('float64'))

In [7]:
Vars = dataArray[:,0:8]    # All rows and first 8 columns are pulled into a new array 
Labels = dataArray[:,8]    # The 9th column is the Class Label that needs to be predicted

In [8]:
Vars.shape,Labels.shape

((768, 8), (768,))

In [9]:
# define the keras model
diabetes = Sequential()
diabetes.add(Dense(12, input_dim=8, activation='relu'))
diabetes.add(Dense(8, activation='relu'))
diabetes.add(Dense(1, activation='sigmoid'))
diabetes.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 12)                108

 dense_1 (Dense)             (None, 8)                 104

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 221
Trainable params: 221
Non-trainable params: 0
_________________________________________________________________

In [10]:
diabetes.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [11]:
t0 = time()
# fit the keras model on the dataset
diabetes.fit(Vars, Labels, epochs=100, batch_size=10, verbose=0)
print('Elapsed Time',time()-t0)

Elapsed Time 21.306010246276855

In [12]:
#Predicted values, rounded to the nearest integer, 0 or 1
Preds = np.rint(diabetes.predict(Vars))
Preds.shape

24/24 [==============================] - 0s 1ms/step

(768, 1)

In [13]:
#How many predictions were correct?
Correct = 0
for i in range(len(Preds)):
    if Preds[i] == Labels[i]:
        Correct = Correct + 1
print(Correct, len(Labels), round(Correct/len(Labels),2))

585 768 0.76

In [14]:
# evaluate the keras model
_, accuracy = diabetes.evaluate(Vars, Labels)
print('Accuracy: %.2f' % (accuracy*100))

24/24 [==============================] - 0s 1ms/step - loss: 0.5004 - accuracy: 0.7617
Accuracy: 76.17

#Breast Cancer <br>
Data https://drive.google.com/file/d/1X2U5QjIE_opU_tF-q9O3HJT4vfoA1t5V/view?usp=sharing <br>
Data Description https://archive.ics.uci.edu/ml/datasets/breast+cancer+wisconsin+(original)

Data Description <br>
Attribute Information:

1. Sample code number: id number
2. Clump Thickness: 1 - 10
3. Uniformity of Cell Size: 1 - 10
4. Uniformity of Cell Shape: 1 - 10
5. Marginal Adhesion: 1 - 10
6. Single Epithelial Cell Size: 1 - 10
7. Bare Nuclei: 1 - 10
8. Bland Chromatin: 1 - 10
9. Normal Nucleoli: 1 - 10
10. Mitoses: 1 - 10 <br>
<hr>
11. Class Label: (2 for benign, 4 for malignant)

In [15]:
#!gdown https://drive.google.com/uc?id=1X2U5QjIE_opU_tF-q9O3HJT4vfoA1t5V
!wget https://raw.githubusercontent.com/Praxis-QR/DeepLearning/main/data/breast-cancer-wisconsin.csv

--2023-01-12 00:17:27--  https://raw.githubusercontent.com/Praxis-QR/DeepLearning/main/data/breast-cancer-wisconsin.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19889 (19K) [text/plain]
Saving to: ‘breast-cancer-wisconsin.csv’

breast-cancer-wisco 100%[===================>]  19.42K  --.-KB/s    in 0s

2023-01-12 00:17:27 (106 MB/s) - ‘breast-cancer-wisconsin.csv’ saved [19889/19889]

##Data Problems <br>
1. Some data is missing, represented by ? <br>
2.First column has sample ID, not useful data, needs to be ignored <br>
3. Class Labels contain, 2, 4 not 0, 1 as expected in binary classification

In [16]:
#read the CSV file into a Pandas Dataframe
dfCancer = pd.read_csv("breast-cancer-wisconsin.csv", header=None)
dfCancer.columns =['X0','X1','X2','X3','X4','X5','X6','X7','X8','X9','L'] 
dfCancer.head()

        X0  X1  X2  X3  X4  X5  X6  X7  X8  X9  L
0  1000025   5   1   1   1   2   1   3   1   1  2
1  1002945   5   4   4   5   7  10   3   2   1  2
2  1015425   3   1   1   1   2   2   3   1   1  2
3  1016277   6   8   8   1   3   4   3   7   1  2
4  1017023   4   1   1   3   2   1   3   1   1  2

In [17]:
#Remove all rows with '?' in col X6
#Keep all rows which do not have '?' in col X6
dfCancer = dfCancer[dfCancer.X6!= '?']
dfCancer.shape

(683, 11)

In [18]:
#In Label, replace 2 with 1 and 4 with 0
#dfCancer.loc[dfCancer.L == 1]
#dfCancer.loc[dfCancer.L == 4]
dfCancer.loc[dfCancer.L == 2,'L'] = 1
dfCancer.loc[dfCancer.L == 4,'L'] = 0

In [19]:
#Convert the data into Numpy Array
#Ignore the first col X0 since it is sample ID
Vars = dfCancer[['X1','X2','X3','X4','X5','X6','X7','X8','X9']].to_numpy(dtype='float32')
Labels = dfCancer['L'].to_numpy(dtype='float32')

In [20]:
# define the keras model
cancer = Sequential()
cancer.add(Dense(12, input_dim=9, activation='relu'))
cancer.add(Dense(8, activation='relu'))
cancer.add(Dense(1, activation='sigmoid'))
cancer.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 12)                120

 dense_4 (Dense)             (None, 8)                 104

 dense_5 (Dense)             (None, 1)                 9

=================================================================
Total params: 233
Trainable params: 233
Non-trainable params: 0
_________________________________________________________________

In [21]:
cancer.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
#cancer.compile(optimizer='sgd', loss='mae',metrics=['accuracy'])

In [22]:
from time import time
t0 = time()
# fit the keras model on the dataset
cancer.fit(Vars, Labels, epochs=100, batch_size=10, verbose = 0)
print('Elapsed Time',time()-t0)

Elapsed Time 10.935638666152954

In [23]:
#Predicted values, rounded to the nearest integer, 0 or 1
Preds = np.rint(cancer.predict(Vars))
Preds.shape

22/22 [==============================] - 0s 1ms/step

(683, 1)

In [24]:
#How many predictions were correct?
Correct = 0
for i in range(len(Preds)):
    if Preds[i] == Labels[i]:
        Correct = Correct + 1
print(Correct, len(Labels), round(Correct/len(Labels),2))

676 683 0.99

In [25]:
# evaluate the keras model
_, accuracy = cancer.evaluate(Vars, Labels)
print('Accuracy: %.2f' % (accuracy*100))

22/22 [==============================] - 0s 2ms/step - loss: 0.0374 - accuracy: 0.9898
Accuracy: 98.98

##Train, Test Split

In [26]:
#read the CSV file into a Pandas Dataframe
dfCancer = pd.read_csv("breast-cancer-wisconsin.csv", header=None)
dfCancer.columns =['X0','X1','X2','X3','X4','X5','X6','X7','X8','X9','L'] 
#dfCancer.head()

In [27]:
#Remove all rows with '?' in col X6
#Keep all rows which do not have '?' in col X6
dfCancer = dfCancer[dfCancer.X6!= '?']
dfCancer.shape
#In Label, replace 2 with 1 and 4 with 0
#dfCancer.loc[dfCancer.L == 1]
#dfCancer.loc[dfCancer.L == 4]
dfCancer.loc[dfCancer.L == 2,'L'] = 1
dfCancer.loc[dfCancer.L == 4,'L'] = 0

In [28]:
Can_train=dfCancer.sample(frac=0.8,random_state=200) #random state is a seed value
Can_test=dfCancer.drop(Can_train.index)

In [29]:
Can_train.shape, Can_test.shape

((546, 11), (137, 11))

In [30]:
#Convert the data into Numpy Array
#Ignore the first col X0 since it is sample ID
Vars = Can_train[['X1','X2','X3','X4','X5','X6','X7','X8','X9']].to_numpy(dtype='float32')
Labels = Can_train['L'].to_numpy(dtype='float32')

In [31]:
# define the keras model
cancer = Sequential()
cancer.add(Dense(12, input_dim=9, activation='relu'))
cancer.add(Dense(8, activation='relu'))
cancer.add(Dense(1, activation='sigmoid'))
cancer.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 12)                120

 dense_7 (Dense)             (None, 8)                 104

 dense_8 (Dense)             (None, 1)                 9

=================================================================
Total params: 233
Trainable params: 233
Non-trainable params: 0
_________________________________________________________________

In [32]:
cancer.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [33]:
from time import time
t0 = time()
# fit the keras model on the dataset
cancer.fit(Vars, Labels, epochs=100, batch_size=10, verbose = 0)
print('Elapsed Time',time()-t0)

Elapsed Time 9.731851816177368

In [34]:
#Convert the data into Numpy Array
#Ignore the first col X0 since it is sample ID
tVars = Can_test[['X1','X2','X3','X4','X5','X6','X7','X8','X9']].to_numpy(dtype='float32')
tLabels = Can_test['L'].to_numpy(dtype='float32')

In [35]:
# evaluate the keras model
_, accuracy = cancer.evaluate(tVars, tLabels)
print('Accuracy: %.2f' % (accuracy*100))

5/5 [==============================] - 0s 3ms/step - loss: 0.1791 - accuracy: 0.9635
Accuracy: 96.35

In [36]:
cancer.evaluate(tVars, tLabels)

5/5 [==============================] - 0s 2ms/step - loss: 0.1791 - accuracy: 0.9635

[0.17908093333244324, 0.9635036587715149]

#tested on

In [37]:
!date

Thu Jan 12 00:17:49 UTC 2023

#Panda Tests <br>
kept for testing purposes, not required in this exercise

In [38]:
data = [['ram', 10], ['sam', 15], ['tam', 15]] 
kids = pd.DataFrame(data, columns = ['Name', 'Age']) 
kids

  Name  Age
0  ram   10
1  sam   15
2  tam   15

In [39]:
kids.loc[kids.Age == 15]

  Name  Age
1  sam   15
2  tam   15

In [40]:
kids.loc[kids.Age == 15,'Age'] = 17
kids

  Name  Age
0  ram   10
1  sam   17
2  tam   17

In [41]:
kids.loc[kids.Age == 17]['Age'] = 19
kids

<ipython-input-41-7474b59865d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kids.loc[kids.Age == 17]['Age'] = 19

  Name  Age
0  ram   10
1  sam   17
2  tam   17

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)

![CC-BY-SA](https://licensebuttons.net/l/by-sa/3.0/88x31.png) The contents of this website are released under creative commons